.BtnToSuggestAnIdea button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 314px;
    height: 56px;
    background: none;
    border-radius: 5px;
    color: #ffffff;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 15px;
}

.BtnToSuggestAnIdea button:after {
    content: "";
    width: 128px;
    height: 1px;
    background: #ffffff;
    top: 36px;
    position: absolute;

}