.header {
    margin-top: 25px;
    width: auto;
    max-width: 460px;
    height: auto;
    color: #fff;
}

.header-box {
    display: flex;
    align-items: center;
    background: #191F22;
    padding: 3% 7.2%;    
}

.header-user {
    display: flex;
    align-items: center;
}

.header-left {
    display: flex;
    justify-content: center;
    width: 163px;
}

.header-left img {
    margin-right: 15px;
}

.header-right {
    font-size: 14px;
    border-left: solid 1px #7E8082;
    padding-left: 10px;
}

.header-right_rov {
    display: flex;
}

.header-right_info {
    color: #7E8082;
    margin-right: 10px;
}